<html ng-app="myApp">

<head>
	<title>Http Post Service</title>
	<script type="text/javascript" src="../lib/angular.js"></script>
	<script type="text/javascript" src="../http-post-service/app.js"></script>
	<style>		
	</style>
</head>

<body>
	<div ng-controller="MainController as main">
		<p>Enter the name: <input type="text" ng-model="main.name"></p>
		<p><button ng-click="main.model.addUser({name:main.name})">Add Data</button></p>
		
		<hr/>
		<ul>
			<li ng-repeat="user in main.model.users">
				{{user.name}} ({{user.id}})
			</li>
		</ul>
	</div>
</body>
</html>